package components

templ Lorem() {
	<span class="text-gray-300">
		Lorem ipsum dolor sit amet feugiat erat no ea ad kasd sit. Justo accusam ea amet. Magna esse justo nibh nonumy
		feugiat commodo lobortis vulputate zzril dolore dolore. Dolor et vero rebum tempor magna euismod. 
	</span>
}
